.input {
    padding: 15px 30px;
    border: 2px solid #d1d1d1;
    background-color: #f7f7f7;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input:focus {
    background-color: #ffffff;
    border-color: #a3a3a3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input:hover {
    background-color: #f0f0f0;
    border-color: #b3b3b3;
}
