.background {
    background: linear-gradient(135deg, #1a1a1a, #3b3b3b); 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.background h1 {
    font-size: 36px;
    font-weight: 200;
    color: #ff0000; 
    margin-bottom: 10px;
}

.background p {
    font-size: 26px;
    font-weight: 200;
    color: #ffffff; 
    margin-bottom: 20px;
}

.background a {
    background: linear-gradient(135deg, #ff0000, #990000); 
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.background a:hover {
    background: linear-gradient(135deg, #990000, #ff0000); 
    transform: scale(1.05); 
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
